<div class="row">
	<!-- Div for ETF -->
	<div class="col-md-12 col-lg-12">
		<h5>Mispricing on {{date}}</h5>
		<hr>
		<div id="table-height" style="overflow: auto">
		    <table id="TableJs1" class="table table-bordered" style="font-size: 15px;">
		      <thead>
			        <tr>
			          {% for columnames in DailyMispricingData.columns %}
			          <th style="width:20%">{{columnames}}</th>
			          {% endfor %}  
			        </tr>
		      	</thead>

		      	<tbody>
		        	{% for key,data in DailyMispricingData.iterrows() %}
		          <tr>
		            {% for columnvalue in data %}
		                <!-- This Condition is for Checking Date -->
			            {% if loop.index == 1 %} 
			            	<td>
			            		<a href="{{columnvalue}}">{{columnvalue}}</a>
			            	</td>
		            	<!-- This Condition is for Checking Date -->
			            <!-- Display Normal Data Otherwise -->
			            {% else %}
			              	<td>
			              		{{columnvalue}}
			          		</td>
			            {% endif %}
			            <!-- Display Normal Format Otherwise -->
		            {% endfor %}   
		          </tr>
		        {% endfor %}
		    	</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
  		for (i = 1; i < 2; i++) { 
	        // Setup - add a text input to each footer cell
	        var a='#TableJs'+i+' thead tr';
	        var b='#TableJs'+i+' thead';
	        var c='#TableJs'+i+' thead tr:eq(1) th';
	        var d='#TableJs'+i;
	        $(a).clone(true).appendTo(b);
	        $(c).each( function (i) {
	            var title = $(this).text();
	            $(this).html( '<input type="text" style="width:100%" placeholder="Search" />' );
	     
	            $( 'input', this ).on( 'keyup change', function () {
	                if ( table.column(i).search() !== this.value ) {
	                    table
	                        .column(i)
	                        .search( this.value )
	                        .draw();
	                }
	            } );
	        } );
	     
	        var table = $(d).DataTable( {
	        	pageLength: 25,
	            orderCellsTop: true,
	            fixedHeader: true,
	            "initComplete": function(settings, json) {
			        $('.dataTables_scrollBody thead tr').css({visibility:'collapse'});
			    }
	        } );
		}
	});
</script>

