
<!-- Heading -->
<div class="inline d-sm-flex align-items-center justify-content-between mb-4">
	<ul class="list-inline">
	  <li class="list-inline-item"><h3>ETF: {{tickeretf}}</h3></li>
	  <li class="list-inline-item">Market Price: $98.60</li> 
	  <li class="list-inline-item">NAV: $98.75</li>
	  <li class="list-inline-item">Tracking Difference: -$0.15</li>
	  <li class="list-inline-item">Date: 01.30.2020 21:08:03</li>
	</ul>
	
	<!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Perform Analysis</a>-->

	<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#" data-toggle="modal" data-target="#MisspricingTimeSeries">
		ETF Error Difference Time Series    
    </a>

    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#" data-toggle="modal" data-target="#ETFConstituents">
		ETF Constituents
    </a>
	
	<!--
	<button data-toggle="modal" data-target="#ETFConstituents" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
	  ETF Constituents
	</button>
	-->
	
</div>
<!--Heading-->

<div class="row">
	<!-- Div for ETF -->
	<div class="col-md-6 col-lg-6">
		<h5>Past Mispricings with Tracking Error Equal/Above {{stdthresold}} SD</h5>
		<hr>
		<div id="table-height" style="overflow: auto">
		    <table id="TableJs1" class="table table-bordered" style="font-size: 15px;">
		      <thead>
		        <tr>
		          {% for columnames in daysofarbitrage.columns %}
		          <th>{{columnames}}</th>
		          {% endfor %}  
		        </tr>
		      </thead>
		      <tbody>
		        {% for key,arbitragecolumns in daysofarbitrage.iterrows() %}
		          <tr>
		            {% for columnvalue in arbitragecolumns %}
		                <!-- This Condition is for Checking Date -->
			            {% if loop.index == 1 %} 
			            	<td style="width:17%">
			            		<a href="{{columnvalue}}">{{columnvalue}}</a>
			            	</td>
		            	<!-- This Condition is for Checking Date -->
			            <!-- Display Normal Data Otherwise -->
			            {% else %}
			              <td style="width:14%">{{columnvalue}}</td>
			            {% endif %}
			            <!-- Display Normal Format Otherwise -->
		            {% endfor %}   
		          </tr>
		        {% endfor %}  
		      </tbody>
		    </table>
	  	</div>
	</div>
	<!-- Div for ETF -->

	<!-- Div for ETF Constituents-->
	<div class="col-md-6 col-lg-6">
		<h5>ZScore of Constituents on {{dateForZScore}}</h5>
		<hr>
		<div id="table-height" style="overflow: auto">
		    <table id="TableJs2" class="table table-bordered" style="font-size: 15px;">
		      <thead>
		        <tr>
		          {% for columnames in zscoresOfConstituents.columns %}
		          	<th>{{columnames}}</th>
		          {% endfor %}  
		        </tr>
		      </thead>
		      <tbody>
			        {% for key,value in zscoresOfConstituents.iterrows() %}
			          <tr>
			            {% for columnvalue in value %}
			              {% if loop.index == 1 %} 
			            	<td style="width:17%">
			            		<a href="{{columnvalue}}">{{columnvalue}}</a>
			            	</td>
		            		{% else %}
			              		<td style="width:14%">{{columnvalue}}</td>
			            	{% endif %}
						{% endfor %}   
			          </tr>
			        {% endfor %}  
			      </tbody>
		    </table>
	  	</div>
	</div>
	</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
  		for (i = 1; i < 3; i++) { 
	        // Setup - add a text input to each footer cell
	        var a='#TableJs'+i+' thead tr';
	        var b='#TableJs'+i+' thead';
	        var c='#TableJs'+i+' thead tr:eq(1) th';
	        var d='#TableJs'+i;
	        $(a).clone(true).appendTo(b);
	        $(c).each( function (i) {
	            var title = $(this).text();
	            $(this).html( '<input type="text" style="width:100%" placeholder="Search" />' );
	     
	            $( 'input', this ).on( 'keyup change', function () {
	                if ( table.column(i).search() !== this.value ) {
	                    table
	                        .column(i)
	                        .search( this.value )
	                        .draw();
	                }
	            } );
	        } );
	     
	        var table = $(d).DataTable( {
	        	pageLength: 25,
	            orderCellsTop: true,
	            fixedHeader: true,
	            "initComplete": function(settings, json) {
			        $('.dataTables_scrollBody thead tr').css({visibility:'collapse'});
			    }
	        } );
		}
	});
</script>
