.Container {
    /* margin: 10px; */
    /* width: 100vw; */
    /* overflow: hidden; */
}

td {
    height: 10px;
    line-height: 1rem;
}

.TableContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* Description Table with one kind of css */
.DescriptionTable {
    height: 38vh;
    overflow: auto;
}

.DescriptionTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.DescriptionTable::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
    background-color: #F5F5F5;
}

.DescriptionTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
/* Description Table with one kind of css */


/* Description Table 2 with one kind of css */
.DescriptionTable2 {
    height: 60vh;
    overflow: auto;
}

.DescriptionTable2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.DescriptionTable2::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
    background-color: #F5F5F5;
}

.DescriptionTable2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
/* Description Table 2 with one kind of css */

/* Description Table 3 with one kind of css */
.DescriptionTable3 {
    height: 80vh;
    overflow: auto;
}

.DescriptionTable3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.DescriptionTable3::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
    background-color: #F5F5F5;
}

.DescriptionTable3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
/* Description Table 3 with one kind of css */


.BlackHeaderForModal{
    background-color:#292b2c;
}
