.FormLabel {	
  margin-right: 25px;	
} 	

.FormInput {	
  margin-right: 25px;	
} 

.justify-content-begin {
  float: left;
}

.justify-content-end {
  float: right;
}

.nav {
  color: white
}

.tags {
  color: white
}