.TableHead {	
  background-color: #222;	
  color: white;	
  position: sticky;
}	

.TableTime {	
  background-color: #222;	
  color: white;	
} 

.Table {

}

.rt-tr-group, .-header{
  color: white;
}

.rt-tr-group:nth-child(odd){
  background-color: #333333;
}

.rt-tr-group:nth-child(even){
  background-color: #555555;
}